aiofiles
aiohttp
asyncio
dnspython
ffmpeg-python
gitpython
hachoir
heroku3
lyricsgenius
motor
pillow
psutil
flask
flask_restful
py-tgcalls
pykeyboard
pyrogram
python-dotenv
pyyaml

requests
spotipy
tgcrypto
youtube-search
youtube-search-python
git+https://github.com/Nkbots/nt-dl.git
git+https://github.com/Nkbots/nk-cli.git
